<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Penyata Zakat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Tahun Bayaran</ion-label>
    <ion-select [(ngModel)]="selectedYear" (ionChange)="getPenyata()" placeholder="Pilih Tahun" interface="popover">
      <ion-select-option *ngFor="let year of yearList" [value]="year"> {{ year }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let item of penyataList">
      <ion-label>
        <h5>ZAKAT {{ item.jeniszakat}}</h5>
        <p>{{ item.tarikh }}</p>
      </ion-label>
      <div slot="end">
        <h5>RM{{ item.jumlahzakat }}</h5>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
