<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Zakat Selangor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Zakat Selangor</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <!-- <div class="ion-padding">
    <h1 class="tajuk">Welcome to LZS</h1>
    <img height="100px" src="assets/img/logo.png" />
    <ion-button color="success" expand="block" (click)="btnClick()">Click Here</ion-button>
  </div> -->




</ion-content>
